<div class="bar bar-header">
  <div class="h1 title">Login</div>
</div>

<div class="content has-header">

  <div class="item"><img src="img/ionic.png" style="margin:auto;display: block;padding: 1em;">

  </div>

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password"
             autocomplete="off">
    </label>
  </div>
  <div class="padding">
    <button class="button button-block button-positive" ng-click="btnLogin()">Sign In</button>
  </div>
</div>

